modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Messenger Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Angel Engine"

[[workflows.workflow]]
name = "Messenger Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Angel Engine"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node angel.js"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "main/catalogs/IMRANA.js"]
